.section-actividades .nav-link {
    color: var(--gray-text);
}

.section-actividades .nav-underline .nav-link.active,
.section-actividades .nav-underline .show>.nav-link {
    color: var(--accent-color) !important;
}

.actividades-card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 50px;
    padding: 30px 0px;
}

.card-actividad {
    overflow: hidden;
    text-decoration: none;
    transition: 200ms;
}

.card-actividad:hover {
    color: var(--accent-color) !important;
}

.card-actividad__header {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card-actividad__img {
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-actividad__categoria {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    border-radius: 0px 15px 0px 0px;
    color: var(--white);
    font-size: 0.875rem;
}

.card-actividad__body {
    padding: 10px 0px;
    position: relative;
    min-height: 140px;
}

.card-actividad__title {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-actividad__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.75rem;
    line-height: 1.3rem;
    color: var(--gray-text);
}

.card-actividad__date {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.75rem;
    color: var(--gray-text);
}

.card-link {
    text-decoration: none;
    color: var(--black);
}

@media (width<1025px) {
    .actividades-card-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media (width<768px) {
    .actividades-card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/** SINGLE APGE **/
.single-img {
    min-height: 300px;
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.single-breadcrums a {
    color: black;
    transition: 300ms;
    text-decoration: none;
    font-size: 0.875rem;
}

.single-breadcrums a:hover {
    color: var(--accent-color);
}

.single-breadcrums a:last-child {
    color: var(--accent-color);
}

.single-content p,
.single-content span {
    line-height: 1.8rem;
}