.box-secciones-escuela section:first-child {
    padding-top: 5rem;
}

.box-secciones-escuela section {
    padding: 5rem 1rem;
}

.box-secciones-escuela section:nth-child(2),
.box-secciones-escuela section:nth-child(3) {
    padding-top: 0;
}

.escuela-imagen {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.rda-imagen {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    overflow: hidden;
}

.rda-card {
    display: flex;
    cursor: pointer;
}

.rda-card:hover {
    background-color: beige;
}

.rda-card img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 10px;
}

.rda-card__title {
    font-weight: 600;
}

.rda-card-body {
    padding-left: 10px;
}

.rda-card-body p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.rda-card-body {
    margin: auto 0;
}

.imagen-modal {
    max-width: 100%;
    width: 100%;
    height: 250px;
    padding: 0;
    object-fit: cover;
    object-position: 0 25%;
}

.modal-header {
    position: relative;
}


.modal-title {
    position: absolute;
    bottom: 0;
    padding: 5px 20px;
    border-radius: 0px 15px 0px 0px;
    left: 0;
    color: #fff;
}

.video-list {
    list-style: none;
    padding: 0;
}

.video-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.video-title.active {
    color: red;
}