.formulario-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.formulario-redes-img {
    max-height: 450px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

.formulario__full {
    grid-column: 1/3;
}

.formulario label {
    line-height: 24px;
    font-size: 0.75rem;
}

.formulario .formulario__item {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.formulario textarea {
    height: 100px;
}

.formulario .formulario__item:valid {
    border: 1px solid green;
    background-color: rgba(0, 255, 0, 0.1);
}

.formulario .formulario__item:invalid {
    border: 1px solid #D61C4E;
    background-color: rgba(255, 0, 0, 0.1);
}

.formulario span {
    font-size: 0.75rem;
    font-weight: 500;
}

.formulario .error {
    display: none;
    color: #D61C4E;
}

.formulario .correcto {
    display: none;
    color: green;
}

.formulario .formulario__item:valid~.correcto {
    display: block;
}

.formulario .formulario__item:invalid~.error {
    display: block;
}


.formulario__item:focus {
    outline: 1px solid #3c4cad;
}

.formulario__item:placeholder-shown {
    border: 1px solid gray;
}

.formulario__item:placeholder-shown:invalid {
    border: 1px solid gray;
    background-color: transparent;
}

.formulario__item:placeholder-shown:invalid~.error {
    display: none;
}

@media(width < 500px) {
    .formulario {
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .formulario__full {
        grid-column: 1;
    }
}