* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2px;
}

.logo {
    width: 50px;
    height: 50px;
}

.logotipo {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.logotipo-container {
    display: flex;
    align-items: center;
}

.main-menu-logo-section {
    display: flex;
    align-items: center;
    height: 75px;
}

.main-menu-logo-section a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.main-menu-logo-section span {
    display: inline-block;
    padding-left: 10px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar ul {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.link {
    text-align: center;
    padding: 0px 10px;
}

.link i {
    display: block;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

.link:hover a {
    background-color: var(--secondary-color);
}

.link a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    min-width: 70px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.link a.active {
    background-color: var(--secondary-color);
}

.admision-link {
    background-color: var(--accent-color);
    border-radius: 5px;
}

.main-menu-icon {
    width: 2rem;
    height: 2rem;
    display: none;
    cursor: pointer;
}



@media(width < 1024px) {
    .main-menu-logo-section span {
        display: none;
    }
}

.menu-accesibilidad {
    position: fixed;
    bottom: 150px;
    right: 30px;
    background-color: var(--secondary-color);
    z-index: 99;
    padding: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    transition: 500ms;
    transform: translateX(300px);
}

.menu-accesibilidad--show {
    transform: translateX(0px);
}

.menu-accesibilidad-letter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    font-weight: 500;
}

.menu-accesibilidad__button-letra {
    border-radius: 10px;
    padding: 2px 10px;
}

.menu-accesibilidad__button-contraste {
    padding: 2px 10px;
    border-radius: 10px;
}

.menu-accesibilidad button:hover {
    transform: scale(1.05);
}

.menu-accesibilidad__button {
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
}

.menu-accesibilidad__button span {
    display: inline-block;
    font-size: 18px !important;
}

.accesibilidad-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--white);
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 99;
    animation: floating 2s ease both infinite;
}

.menu-accesibilidad-button__icon {
    font-size: 3rem;
    display: block;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media(width < 600px) {
    .main-navbar {
        display: block;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .main-menu-logo-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-menu-icon {
        display: inline-block;
    }

    .main-navbar ul {
        position: absolute;
        top: 50px;
        left: -300px;
        width: 300px;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        background-color: var(--primary-color);
        border-radius: 0px 0px 10px 0px;
        z-index: 10;
    }

    .link {
        text-align: left;
        padding: 0px 20px;
    }

    .link i {
        display: inline-block;
        padding: 0px 5px;
    }

    .link a {
        display: block;
        line-height: 3rem;
    }

    .show-menu {
        transform: translateX(300px);
    }

    .main-menu-logo-section {
        height: 50px;
    }

    .menu-accesibilidad-button__icon {
        font-size: 1.5rem;
    }
}