.box-secciones-index section:first-child {
    padding-top: 5rem;
}

.box-secciones-index section {
    padding: 5rem 0;
}

.box-secciones-index section:nth-child(4) {
    padding-top: 0;
}

@media screen and (max-width: 576px) {
    .box-secciones-index section {
        padding: 5rem 1rem;
    }
}

.middle-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.testimonios__image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.caracteristicas-card__header {
    background-color: var(--accent-color);
    border-radius: 5px;
    max-width: 50px;
    text-align: center;
}

.caracteristicas__img {
    max-height: 180px;
    display: block;
    object-fit: cover;
}

.caracteristicas-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.caracteristicas-card__icon {
    margin: 10px;
    font-size: 1.5rem;
    color: white;
}

.caracteristicas-card__title {
    padding-top: 10px;
    font-weight: 600;
}

@media (width<768px) {
    .middle-image {
        padding: 20px 0px;
    }

    .caracteristicas-card {
        max-width: 100%
    }
}