.box-secciones-index section:first-child {
    padding-top: 5rem;
}

.box-secciones-index section {
    padding: 5rem 0;
}

.box-secciones-index section:nth-child(4) {
    padding-top: 0;
}

@media screen and (max-width: 576px) {
    .box-secciones-index section {
        padding: 5rem 1rem;
    }
}

.middle-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.caracteristicas__img {
    height: 300px;
    display: block;
}

.caracteristicas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
}

.caracteristicas-card img {
    margin: 10px;
}

.caracteristicas-card__title {
    padding: 5px;
    font-weight: 600;
}

@media (width<768px) {
    .middle-image {
        padding: 20px 0px;
    }
}